---
const { image, alt, frame = 'mil-horizontal', extraClass = '', caption = '' } = Astro.props;
---

<div class={`mil-image-frame ${frame} ${extraClass}`.trim()}>
  <img src={image} alt={alt} />
  <a data-fancybox="gallery" data-no-swup href={image} class="mil-zoom-btn" data-caption={caption || alt}>
    <img src="/img/icons/zoom.svg" alt="zoom" />
  </a>
</div>
